// popup
.note__popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //height: 70vh;
    min-width: 40vw;
    z-index: -1000; // 3000 for visible
    opacity: 0;
    padding: 2rem;
    //border: 3px solid black;
    background-color: white;

    &-title {
        position: relative;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 1px;
        //color: darken(grey,20%);
        margin-bottom: 1.5rem;
        width: 95%;

        &:focus {
            outline: none;
        }

        &::after {
            content: "";
            display: block;
            margin: 1rem 0;
            margin-bottom: 2rem;
            width: 80%;
            background-color: black;
            height: 2px;
        }
    }

    &-body {
        position: relative;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6;
        //color: grey;
        margin-bottom: 1rem;
        white-space: pre-wrap;

        //border: 1px solid red;
        &:focus {
            outline: none;
        }
    }

    &-actions {
        display: flex;
        align-items: center;
        position: relative;
        margin: 4rem 0 2rem 0;
        //border: 1px solid black;

        &--close {
            position: absolute;
            display: flex;
            align-items: center;
            top: 1rem;
            right: 2rem;
            font-weight: 600;
            font-size: 2.5rem;
            padding: 1rem;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            border: 2px solid black;
            color: black;
            justify-content: center;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.1);
            }
        }

        .note-icon {
            margin-right: 3.5rem;
            fill: black;
        }
    }

    &-last-modified {
        font-weight: 400;
        font-size: 1.6rem;
        color: black;
        margin-top: 1rem;
    }

    &-bg {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(darken(black, 30%), 0.7);
        height: 200rem;
        width: 200rem;
        z-index: -2000; // 2000 for visible
        opacity: 0;
    }

    &-done {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        bottom: 1rem;
        right: 2rem;
        font-size: 1.8rem;
        font-weight: 600;
        padding: 1rem 2rem;
        border-radius: 5px;
        z-index: 4000;
        cursor: pointer;
    }

    &-colorpicker {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        width: 18rem;
        padding: 5px;
        justify-content: space-between;
        align-items: center;
        top: -1.5rem;
        z-index: -1000;
        opacity: 0;
        left: -1rem;
        transition: opacity 0.5s;
        transform: translateY(-100%);

        .colorpicker-color {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin: 5px;
            cursor: pointer;
            border: 2px solid transparent;
            transition: border 0.3s;

            &:hover {
                border: 2px solid grey !important;
            }
        }
    }

    &-labels {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: -70%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%,-50%);
        background-color: white;
        font-size: 1.8rem;
        line-height: 1.6;
        z-index: 5500;
        box-shadow: 0 0 1rem rgba(black, 0.4);
        transition: top 0.5s, opacity 0.5s;
        padding-bottom: 1.5rem;

        &-list {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            list-style: none;
            padding: 2.5rem 2rem 0 2.5rem;

            li {
                display: flex;
                align-items: center;
                padding: 1rem 2rem;
                border-bottom: 1px solid lightgrey;
                
                &:first-child {
                    border-top: 1px solid lightgrey;
                }

                label {
                    flex: 2;
                    margin-right: 1rem;
                    font-weight: 400;
                }
                input {
                    margin-bottom: -5px;
                    margin-left: auto;
                }
            }
        }
        
        .btn__action--text {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            margin-top: 1.5rem;
        }
    }
}

#checkbox-menu {
    display: none;
    &:checked + .note__popup-labels {
        opacity: 1;
        top: 50%;
    //    transform: translateY(-50%);
    }
}