*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

html {
  font-family: 'Lato', sans-serif;
  font-size: 62.5%; }
  @media only screen and (max-width: 36.25em) {
    html {
      font-size: 50%; } }

@keyframes verticalOscillate {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(2px); }
  100% {
    transform: translateY(0); } }

.notes-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; }
  @media only screen and (max-width: 60em) {
    .notes-col {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; } }

.note-card {
  margin: 1rem;
  padding: 2rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
  cursor: pointer; }
  @media only screen and (max-width: 60em) {
    .note-card {
      justify-content: flex-start;
      width: calc(100% * (1/2) - 1rem * 2); } }
  .note-card:hover {
    transform: translateY(-2px) translateZ(5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
  .note-card__title {
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-weight: 400;
    align-self: stretch;
    border-bottom: 1px solid black; }
  .note-card__content {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1rem; }
  .note-card__created {
    font-size: 1.5rem;
    font-weight: 600; }
  .note-card .note-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 2rem;
    width: 2rem;
    fill: #676767;
    transform: rotateZ(45deg); }
    .note-card .note-icon:hover {
      fill: black; }

.note__popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40vw;
  z-index: -1000;
  opacity: 0;
  padding: 2rem;
  border: none !important;
  background-color: white; }
  .note__popup-title {
    position: relative;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    width: 95%; }
    .note__popup-title:focus {
      outline: none; }
    .note__popup-title::after {
      content: "";
      display: block;
      margin: 1rem 0;
      margin-bottom: 2rem;
      width: 80%;
      background-color: black;
      height: 2px; }
  .note__popup-body {
    position: relative;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 1rem;
    white-space: pre-wrap; }
    .note__popup-body:focus {
      outline: none; }
  .note__popup-actions {
    display: flex;
    align-items: center;
    position: relative;
    margin: 4rem 0 2rem 0; }
    .note__popup-actions--close {
      position: absolute;
      display: flex;
      align-items: center;
      top: 1rem;
      right: 2rem;
      font-weight: 600;
      font-size: 2.5rem;
      padding: 1rem;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      border: 2px solid black;
      color: black;
      justify-content: center;
      cursor: pointer;
      transition: all 0.5s; }
      .note__popup-actions--close:hover {
        transform: scale(1.1); }
    .note__popup-actions .note-icon {
      margin-right: 3.5rem;
      fill: black; }
  .note__popup-last-modified {
    font-weight: 400;
    font-size: 1.6rem;
    color: black;
    margin-top: 1rem; }
  .note__popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 200rem;
    width: 200rem;
    z-index: -2000;
    opacity: 0; }
  .note__popup-done {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    bottom: 1rem;
    right: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 5px;
    z-index: 4000;
    cursor: pointer; }
  .note__popup-colorpicker {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 18rem;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    top: -1.5rem;
    z-index: -1000;
    opacity: 0;
    left: -1rem;
    transition: opacity 0.5s;
    transform: translateY(-100%); }
    .note__popup-colorpicker .colorpicker-color {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin: 5px;
      cursor: pointer;
      border: 2px solid transparent;
      transition: border 0.3s; }
      .note__popup-colorpicker .colorpicker-color:hover {
        border: 2px solid grey !important; }
  .note__popup-labels {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -70%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    font-size: 1.8rem;
    line-height: 1.6;
    z-index: 5500;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    transition: top 0.5s, opacity 0.5s;
    padding-bottom: 1.5rem; }
    .note__popup-labels-list {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      list-style: none;
      padding: 2.5rem 2rem 0 2.5rem; }
      .note__popup-labels-list li {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        border-bottom: 1px solid lightgrey; }
        .note__popup-labels-list li:first-child {
          border-top: 1px solid lightgrey; }
        .note__popup-labels-list li label {
          flex: 2;
          margin-right: 1rem;
          font-weight: 400; }
        .note__popup-labels-list li input {
          margin-bottom: -5px;
          margin-left: auto; }
    .note__popup-labels .btn__action--text {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      margin-top: 1.5rem; }

#checkbox-menu {
  display: none; }
  #checkbox-menu:checked + .note__popup-labels {
    opacity: 1;
    top: 50%; }

.note-icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: grey;
  cursor: pointer; }

.note-pin {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 4000; }

.icon-small {
  height: 2rem;
  width: 2rem; }

.btn__add-note {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 5rem;
  right: 5rem;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  background-color: coral;
  color: white;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  transition: all 0.5s; }
  .btn__add-note:hover {
    background-color: #ff6c37;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.02); }
  .btn__add-note span {
    margin-top: -5px; }

.btn__action--text {
  position: relative;
  font-weight: 400;
  padding: 5px 1rem;
  border: 1px solid black;
  border-radius: 3px;
  overflow: hidden;
  font-size: 1.6rem;
  cursor: pointer; }
  .btn__action--text::after {
    display: block;
    content: "";
    width: 5px;
    height: 80%;
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 7000;
    transition: transform 0.5s; }
  .btn__action--text:hover::after {
    transform: scale(18);
    background-color: rgba(211, 211, 211, 0.2); }

.input--text {
  font-size: 1.8rem;
  background-color: white;
  border: 1px solid grey;
  font-family: inherit;
  font-weight: 300;
  padding: 5px; }
  .input--text:focus {
    outline: none; }

.header__top {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 101;
  padding: 0 1rem 0 1rem; }
  @media only screen and (max-width: 67.5em) {
    .header__top {
      margin: 0;
      padding: 0 2rem; } }
  @media only screen and (max-width: 60em) {
    .header__top {
      padding: 1.5rem; } }
  @media only screen and (max-width: 30em) {
    .header__top {
      flex-direction: column;
      justify-content: center; } }
  .header__top .header__brand {
    display: flex;
    align-items: center;
    background-color: white; }
    @media only screen and (max-width: 30em) {
      .header__top .header__brand {
        margin-bottom: 1.5rem; } }
    .header__top .header__brand .brand__logo {
      height: 5rem;
      width: 5rem; }
    .header__top .header__brand .brand__text {
      font-size: 3rem;
      font-weight: 600; }
  .header__top--search {
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    margin: 0 2rem;
    max-width: 50%;
    padding: 5px 1rem;
    z-index: 200;
    flex: 1;
    justify-content: flex-end; }
    @media only screen and (max-width: 60em) {
      .header__top--search {
        max-width: 70%; } }
    @media only screen and (max-width: 30em) {
      .header__top--search {
        max-width: 100%;
        width: calc(100% - 2rem * 2); } }
    .header__top--search .input--text {
      border: none;
      margin-right: auto;
      flex: 1; }
    .header__top--search .icon-small {
      margin: 0 1rem; }
  .header__top--user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 1rem;
    border-radius: 3px; }
    @media only screen and (max-width: 60em) {
      .header__top--user {
        display: none; } }
    .header__top--user-name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 2.1rem;
      font-weight: 400;
      align-items: center;
      margin-bottom: -3px; }
      .header__top--user-name .icon-small {
        height: 2rem;
        width: 2rem;
        margin: 0 1rem;
        fill: orangered;
        cursor: pointer; }
        .header__top--user-name .icon-small:hover {
          transform: translateY(3px);
          animation: verticalOscillate 0.5s infinite both; }
    .header__top--user-img {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      margin-right: 1rem;
      border: 3px solid orangered; }

.side-nav {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem 3rem 1rem 1rem; }
  @media only screen and (max-width: 36.25em) {
    .side-nav {
      display: none; } }
  .side-nav__list {
    display: flex;
    flex-direction: column;
    border: inherit; }
  .side-nav__item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    line-height: 1.4;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.3s; }
    .side-nav__item:hover {
      background-color: #eee; }
    .side-nav__item .icon-small {
      margin-right: 1rem;
      height: 3rem;
      width: 3rem; }

.dashboard {
  display: flex;
  flex-direction: column;
  flex: 4;
  min-height: 60vh; }
  @media only screen and (max-width: 36.25em) {
    .dashboard {
      flex: 0 0 1;
      width: 100%; } }
  .dashboard__content {
    display: flex;
    background-color: white;
    overflow: hidden;
    flex: 1; }
    @media only screen and (max-width: 60em) {
      .dashboard__content {
        flex: 0 1 auto;
        flex-direction: column;
        padding-bottom: 5rem; } }

body {
  background-color: #262626;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  z-index: -1; }
  @media only screen and (max-width: 67.5em) {
    body {
      padding: 0; } }

.container {
  display: flex;
  position: relative;
  z-index: 100;
  background-color: #262626; }
  @media only screen and (max-width: 36.25em) {
    .container {
      overflow: hidden; } }

/*// box to add a note
.add-note__box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 5px; // both should match padding and margin of top
    left: 5px;
    min-width: 40vw;
    max-width: 50vw;
    //border: 1px solid red;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 1.5rem rgba(black, 0.4);
    z-index: -100;
    opacity: 0;
    transition: all 0.3s;
    min-height: 30vh;
    
    &--active {
        opacity: 1 !important; // bad
        z-index: 1000 !important;
    }

    &-title {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: 600;
        color: grey;

        &:focus {
            outline: none;
        }
    }

    &-text {
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 1rem;
        flex: 1;
        color: grey;

        &:focus {
            outline: none;
        }
    }

    &-actions {
        display: flex;
        align-items: center;

        .note-icon {
            margin: 1rem 1.5rem 5px 0;
            fill: darken(grey, 20%);
        }
    }
}*/
