<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>XNote ~ {{username}}</title>
</head>

<body>
    <div class="note__popup-bg">
        &nbsp;
    </div>
    <div class="note__popup">
        <input type="checkbox" id="checkbox-menu">
        <div class="note__popup-labels">
            <ul class="note__popup-labels-list">
                <li>
                    <label for="checkbox-personal" data-label="personal">Personal</label><input id="checkbox-personal" type="checkbox">
                </li>
                <li>
                    <label for="checkbox-work" data-label="work">Work</label><input id="checkbox-work" type="checkbox">
                </li>
                <li>
                    <label for="checkbox-archive" data-label="archive">Archive</label><input id="checkbox-archive" type="checkbox">
                </li>
            </ul>
            <span class="btn__action--text">&#10004;</span>
        </div>
        <span class="note__popup-actions--close">
            &times;
        </span>
        <div class="note__popup-done">
            Done
        </div>
        <h1 class="note__popup-title" contenteditable>&nbsp;</h1>
        <div class="note__popup-body" contenteditable>&nbsp;</div>
        <div class="note__popup-actions">
            <!--               COLORS        -->
            <div class="note__popup-colorpicker">
                <div class="colorpicker-color" data-color="white">&nbsp;</div>
                <div class="colorpicker-color" data-color="red">&nbsp;</div>
                <div class="colorpicker-color" data-color="orange">&nbsp;</div>
                <div class="colorpicker-color" data-color="yellow">&nbsp;</div>
                <div class="colorpicker-color" data-color="green">&nbsp;</div>
                <div class="colorpicker-color" data-color="teal">&nbsp;</div>
                <div class="colorpicker-color" data-color="blue">&nbsp;</div>
                <div class="colorpicker-color" data-color="darkblue">&nbsp;</div>
                <div class="colorpicker-color" data-color="purple">&nbsp;</div>
                <div class="colorpicker-color" data-color="pink">&nbsp;</div>
                <div class="colorpicker-color" data-color="brown">&nbsp;</div>
                <div class="colorpicker-color" data-color="gray">&nbsp;</div>
            </div>
            <!--                COLORS           -->
            <svg class="note-icon" data-action="color">
                <use xlink:href="{% static 'res/sprite.svg' %}#paint-palette"></use>
            </svg>
            <svg class="note-icon" data-action="image">
                <use xlink:href="{% static 'res/sprite.svg' %}#picture"></use>
            </svg>
            <svg class="note-icon" data-action="copy">
                <use xlink:href="{% static 'res/sprite.svg' %}#download"></use>
            </svg>
            <svg class="note-icon" data-action="pin">
                <use xlink:href="{% static 'res/sprite.svg' %}#pin"></use>
            </svg>
            <svg class="note-icon" data-action="discard">
                <use xlink:href="{% static 'res/sprite.svg' %}#garbage"></use>
            </svg>
            <label class="btn__action--text" for="checkbox-menu">
                Labels
            </label>
        </div>
        <h4 class="note__popup-last-modified">
            Sept. 29, 2018, 2:42 a.m.
        </h4>
    </div>
    <header class="header__top">
        <div class="header__brand">
            <svg class="brand__logo">
                <use xlink:href="{% static 'res/sprite.svg' %}#script"></use>
            </svg>
            <h3 class="brand__text">xNotes</h3>
        </div>
        <div class="header__top--search">
            <input type="text" class="input--text" placeholder="Search">
            <svg class="icon-small">
                <use xlink:href="{% static 'res/sprite.svg' %}#magnifying-glass"></use>
            </svg>
            <svg class="icon-small">
                <use xlink:href="{% static 'res/sprite.svg' %}#list"></use>
            </svg>
            <svg class="icon-small">
                <use xlink:href="{% static 'res/sprite.svg' %}#picture"></use>
            </svg>
            <svg class="icon-small">
                <use xlink:href="{% static 'res/sprite.svg' %}#pencil"></use>
            </svg>
        </div>
        <div class="header__top--user">
            <img src="{% static 'res/' %}{{username}}.jpg" alt="{{username}}" class="header__top--user-img">
            <h3 class="header__top--user-name">
                {{username}}
                <svg class="icon-small">
                    <use xlink:href="{% static 'res/sprite.svg' %}#caret-down"></use>
                </svg>
            </h3>
        </div>
    </header>
    <div class="container">
        <div class="side-nav">
            <nav class="side-nav__list">
                <div class="side-nav__item" data-category="all">
                    <svg class="icon-small">
                        <use xlink:href="{% static 'res/sprite.svg' %}#folder"></use>
                        <span>All Notes</span>
                    </svg>
                </div>
                <div class="side-nav__item" data-category="personal">
                    <svg class="icon-small">
                        <use xlink:href="{% static 'res/sprite.svg' %}#avatar"></use>
                    </svg>
                    <span>Personal</span>
                </div>
                <div class="side-nav__item" data-category="work">
                    <svg class="icon-small">
                        <use xlink:href="{% static 'res/sprite.svg' %}#portfolio"></use>
                    </svg>
                    <span>Work</span>
                </div>
                <div class="side-nav__item" data-category="archive">
                    <svg class="icon-small">
                        <use xlink:href="{% static 'res/sprite.svg' %}#archive"></use>
                    </svg>
                    <span>Archive</span>
                </div>
                <div class="side-nav__item" data-category="trash">
                    <svg class="icon-small">
                        <use xlink:href="{% static 'res/sprite.svg' %}#garbage"></use>
                    </svg>
                    <span>Trash</span>
                </div>
            </nav>
        </div>
        <div class="dashboard">
            <div class="dashboard__content">
                <div class="notes-col">
                    {% for note in data1 %}
                    <div class="note-card" style="background-color: #{{note.color}}" data-id={{note.note_id}} data-color={{note.color}}>
                        <svg class="note-icon {% if note.pinned %}pinned{% endif %}" data-action="pin">
                            <use xlink:href="{% static 'res/sprite.svg' %}#pin"></use>
                        </svg>
                        <h2 class="note-card__title">{{note.title}}</h2>
                        <p class="note-card__content">{{note.content}}</p>
                        <h4 class="note-card__created">{{note.last_edited}}</h4>
                    </div>
                    {% endfor %}
                </div>

                <div class="notes-col">
                    {% for note in data2 %}
                    <div class="note-card" style="background-color: #{{note.color}}" data-id={{note.note_id}} data-color={{note.color}}>
                        <svg class="note-icon {% if note.pinned %}pinned{% endif %}" data-action="pin">
                            <use xlink:href="{% static 'res/sprite.svg' %}#pin"></use>
                        </svg>
                        <h2 class="note-card__title">{{note.title}}</h2>
                        <p class="note-card__content">{{note.content}}</p>
                        <h4 class="note-card__created">{{note.last_edited}}</h4>
                    </div>
                    {% endfor %}
                </div>

                <div class="notes-col">
                    {% for note in data3 %}
                    <div class="note-card" style="background-color: #{{note.color}}" data-id={{note.note_id}} data-color={{note.color}}>
                        <svg class="note-icon {% if note.pinned %}pinned{% endif %}" data-action="pin">
                            <use xlink:href="{% static 'res/sprite.svg' %}#pin"></use>
                        </svg>
                        <h2 class="note-card__title">{{note.title}}</h2>
                        <p class="note-card__content">{{note.content}}</p>
                        <h4 class="note-card__created">{{note.last_edited}}</h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="btn__add-note">
            <span>+</span>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'bundle.js' %}"></script>
</body>

</html>