<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>XNote ~ Login</title>    
    </head>
    <body>
        <div>
            <h1>Sign up</h1>
            <p>Start using xNote</p>
        </div>
    </body>
    <script type="text/javascript" href=""></script>
</html>