.dashboard {
    display: flex;
    flex-direction: column;
    flex: 4;

    @include respond(small) {
        flex: 0 0 1;
        width: 100%;
    }
    
    &__content {
        display: flex;
        flex-flow: column wrap;
        background-color: white;
        overflow: hidden;
     }
}