.dashboard {
    display: flex;
    flex-direction: column;
    flex: 4;
    //border: 1px solid;
   // min-height: 60vh;

    @include respond(small) {
        flex: 0 0 1;
        width: 100%;
    }
    
    &__content {
        display: flex;
        flex-flow: column wrap;
       // padding: 1rem;
        background-color: white;
        overflow: hidden;
        //flex: 1;
        border: 1px solid black;
     }
}